extends layout

block content
  div(class='header')
    h1= title
    if user
      p(class='welcome-user') Welcome back #{user.username}!
      p Membership Status: #{user.membership_status}
      p Admin: #{ user.admin_status ? 'Yes' : 'No'}
      a(href="/messages/new-post") New Post
      //- Show the full message if they are logged in as a Member  
    else 
      p Please Login or Sign up to Participate.
      p (You will only be able to see the message author and date posted if you are a Member.)

  div(class='messages-container')
    if user
      if user.membership_status === 'Member'
        ul
        each message in message_list
          div(class='message')
            - let messageID = message.id
            
            p  User Name: #{message.username}
            p  Message: #{message.message_text}
            p  Posted: #{message.date_of_post_formatted}
            if user.admin_status == true
              a(href="/messages/" + message._id + "/delete") Delete Post
        else
          p There are no messages.
      
      //- Case of Non-Member User
      else
        //- Show only the message but not the Contents if they are not logged in as a Member
        ul
        each message in message_list
          div(class='message')
            p  Message: #{message.message_text}
            p  Posted: #{message.date_of_post_formatted}

    else       
      //- Show only the message but not the Author or Date Posted if they are not logged in as a Member
      ul
      each message in message_list
        div(class='message')
          p  Message: #{message.message_text}
      else
        p There are no messages.