extends layout

block content
  h1= title
  if user
    p Welcome #{user.username}!
    p Membership-Status: #{user.membership_status}
    p Admin_status: #{user.admin_status}
    a(href="/messages/new-post") New Post
    //- Show the full message if they are logged in as a Member  

    if user.membership_status === 'Member'
      //- a(href="/messages/new-post") New Post
      ul
      each message in message_list
        - let messageID = message.id
        ul
          li  User Name: #{message.username} 
          li  Message: #{message.message_text}
          li  Posted: #{message.date_of_post_formatted}
          if user.admin_status == true
            a(href="/messages/" + message._id + "/delete") Delete Post
      else
        li There are no messages.
    
    else 
      p (You will only be able to see the message contents if you are a Member.)
      
      //- Show only the message but not the Contents if they are not logged in as a Member
      ul
      each message in message_list
        ul
          li  Message: #{message.message_text}
          li  Posted: #{message.date_of_post_formatted}

  else 
    p Please Login or Sign up to Participate.
    p (You will only be able to see the message if you are a Member.)
    
    //- Show only the message but not the Contents if they are not logged in as a Member
    ul
    each message in message_list
      ul
        li  Message: #{message.message_text}
        li  Posted: #{message.date_of_post_formatted}
    else
      li There are no messages.